body {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: #ffc7fe;
}

#site-logo {
  font-family: "Brush Script MT";
}

#site-logo .front {
  position: absolute;

  background-clip: text;
  color: #f7ffbf;
  font-size: 120px;  
}

#site-logo .back {
  font-size: 121px;
  color: black;
}

button,
input {
  border-color: #f7ffbf;
  padding: 0;
}

#workspace {
  display: flex;
}

#user-interface {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#color-picker {
  display: flex;
  justify-content: space-between;
}

#color-swapper {
  cursor: pointer;
  rotate: 90deg;
  font-weight: bold;
  scale: 1.5;

  display: inline-flex;
}

#canvas {
  width: 600px;
  height: 600px;
  
  display: grid;
  grid-template: repeat(16, 1fr)/repeat(16, 1fr);

  border: 18px solid #f7ffbf;
  border-radius: 18px;
}

/* For making the grid visible and other customization I come up with */
.grid {

}

/* Implement a small window that will show up when the slider being moved with
the square that will reflect the size of the resolution set by the moving slider */