body {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: beige;
}

#workspace {
  display: flex;

}

.canvas {
  width: 600px;
  height: 600px;
  
  display: grid;
  grid-template: repeat(16, 1fr)/repeat(16, 1fr);
}

.cell {

}

/* For making the grid visible and other customization I come up with */
.grid {

}

/* Implement a small window that will show up when the slider being moved with
the square that will reflect the size of the resolution set by the moving slider */