body {
  height: 100vh;
  background-color: beige;
}

.canvas {
  width: 600px;
  height: 600px;
  
  display: grid;
  grid-template: repeat(16, 1fr)/repeat(16, 1fr);
}

.cell {

}

/* For making the grid visible and other customization I come up with */
.grid {

}